<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YouTube Transcript API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>

<div class="container">
    <h1>YouTube Transcript Fetcher</h1>
    <form action="/submit" method="POST">
        <label for="video_url">Enter YouTube Video URL:</label>
        <input type="text" id="video_url" name="video_url" placeholder="e.g. https://www.youtube.com/watch?v=VIDEO_ID" pattern="https?://(www\.)?youtube\.com/watch\?v=[a-zA-Z0-9_-]{11}" required>
        <button type="submit">Get Transcript</button>
    </form>
</div>

</body>
</html>
